<footer class="footer">
  <div class="footer__content">
    <div class="footer__left-side">
      <div class="footer__block">
        <h3 class="footer__title">Хватит думать!<br/><span class="footer__subtitle">Доставим заказ за 30<br/>минут!</span></h3>
        <p class="footer__description">Мы арантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!</p>
      </div>
      <order-form></order-form>
    </div>
    <img class="footer__image" src="app/assets/images/pizzzzza.jpg"/>
  </div>
</footer>