<header class="header">
  <div class="header__box">
    <div class="header__container">
      <div class="header__branding">
        <img class="header__logo" src="app/assets/icons/pizza.svg" alt="pizza logo"/>
        <h1 class="header__title">Pizza<br/>cheff</h1>
      </div>
      <nav class="header__nav">
        <a class="header__nav-item" href="/">Пиццы</a>
        <a class="header__nav-item" href="/">Напитки</a>
        <a class="header__nav-item" href="/">Доставка и оплата</a>
        <a class="header__nav-item" href="/">Контакты</a>
      </nav>
    </div>
  </div>

</header>