body {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
}

a {
     text-decoration: none;
     color: inherit;
   }
   
   a:link {
     color: inherit;
   }
   
   a:visited {
     color: inherit;
   }
   
   a:hover {
     text-decoration: none;
   }
   
   a:active {
     text-decoration: none;
   }
   
   a:focus {
     outline: none;
   }

@font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-Black.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-BlackItalic.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-Bold.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-BoldItalic.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-ExtraBold.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-ExtraBoldItalic.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/Muller-Trial-Hairline.woff2') format('woff2'),
         url('/assets/fonts/Muller-Trial-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-HairlineItalic.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-Light.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-LightItalic.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-Regular.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-RegularItalic.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-UltraBlack.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-UltraBlack.woff') format('woff');
    font-weight: 950;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-UltraBlackItalic.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-UltraBlackItalic.woff') format('woff');
    font-weight: 950;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-UltraLight.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('app/assets/fonts/Muller-Trial-UltraLightItalic.woff2') format('woff2'),
         url('app/assets/fonts/Muller-Trial-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
  }
  